<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bdm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseAction</display-name>
    <servlet-name>BaseAction</servlet-name>
    <servlet-class>com.liaierto.action.BaseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseAction</servlet-name>
    <url-pattern>/BaseAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>configDbActioin</display-name>
    <servlet-name>configDbActioin</servlet-name>
    <servlet-class>com.liaierto.action.ConfigDbActioin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configDbActioin</servlet-name>
    <url-pattern>/x/configDbActioin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.liaierto.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/BaseAction</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DataAction</display-name>
    <servlet-name>DataAction</servlet-name>
    <servlet-class>com.liaierto.action.DataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAction</servlet-name>
    <url-pattern>/DataAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceServlet</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.liaierto.action.ResourceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/ResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceAction</display-name>
    <servlet-name>ResourceAction</servlet-name>
    <servlet-class>com.liaierto.action.ResourceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceAction</servlet-name>
    <url-pattern>/x/*</url-pattern>
  </servlet-mapping>
   <!-- druid监控 -->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>

  <welcome-file-list>
    <welcome-file>mindex.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>